*{
    user-select: none;
    /* overflow: hidden; */
    touch-action: none;
}
.content{
    width: 100%;
    height: 100%;
}

body{
    background-color: #343434
}

@font-face{
    font-family: Montserrat-SemiBold;
    src: url('fonts/Montserrat-SemiBold.otf');
 }
 Montserrat-SemiBold

/*********Piano keyBoard *********/



#keyBoard{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50vh;
    background-color: black;
    visibility: hidden;
}
#keyBoard{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50vh;
    background-color: black;
    visibility: hidden;
}



.gradient_line{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4%;
    z-index: 3;
    background: -webkit-linear-gradient(left, #27a3a3 0%,#5544ac 100%); 
}

.key{
    position: absolute;
}

.invisibleKey{
    display: none;
}

.key span{
    position: absolute;
    bottom: 10px;
}

.white{
    background-color: #e3e3e3;
}

.black{
    background-color: #202020;
    z-index: 2;
}

/*********Drumpads keyBoard *********/
.drumpad_keyboard{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    visibility: hidden;

}

.drumpad_keys{
    width: 4em;
    height: 4em;
    position: relative;
    margin: 10% 2.5%;
    text-align: center;
    background-color: #202020;
}

.drumpad_keys__text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.7em;
    font-family: Montserrat-SemiBold;
    color: #535151;
}

/**********Sampler***********/
.sampler_page{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    visibility: hidden;
}

.sampler_page__circle_mic{
    width: 6em;
    height: 6em;
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    border: #F0F0F0 solid 2px;
    border-radius: 50%;
}

.sampler_page__circle_mic>img{
    width: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.primary_button_sampler0{
    top: 70%;
    left: 30%;
}

.primary_button_sampler1{
    top: 70%;
    left: 60%;
}



/************Intrument Choice *************/
.choose_sound{
    visibility: hidden;
    
}

.choose_sound, .intruments_type_color_filters{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.intruments_type_color_filters{
    position: absolute;
}

.sounds_type, .intruments_type_color_filter{
    width: 25%;
    height: 100%;
    position: relative;
    background-size: 120%;
}

.blue_filter{
    background-color: rgba(46, 125, 164, 0.36);
}
.purple_filter{
    background-color: rgba(86, 67, 172, 0.36)
}
.pink_filter{
    background-color: rgba(162, 36, 161, 0.36)
}
.green_filter{
    background-color: rgba(39, 163, 163, 0.36)
}

.instruments{
    background-image: url("../img/instrumentChoice/instruments.png")
}
.synthesizers{
    background-image: url("../img/instrumentChoice/synthesizers.png")
}
.drumpads{
    background-image: url("../img/instrumentChoice/drumpads.png")
}
.sampler{
    background-image: url("../img/instrumentChoice/sampler.png")
}

.primary_button_sound_selected{
    width: 17.5%;
    height: 10%;
    position: absolute;
    right: 0px;
    background-color: rgba(43, 44, 46, 0.9);
}

.primary_button_sound_selected span{
    text-transform: capitalize;
}



.sounds_type>.primary_button{
    width: 87%;
    height: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    background-color: rgba(43, 44, 46, 0.9);
}

.primary_button__text{
    position: absolute;
    left: 16%;
    top: 50%;
    transform: translateY(-50%);
    font-family: Montserrat-SemiBold;
    color: #F0F0F0;

}

.primary_button__margin{
    width: 7%;
    height: 100%;
    background-color: #F0F0F0;
}

.sounds_type>.primary_button>.primary_button__margin{
    position: absolute;
    top: 0;
    
}

.all_sounds{
    width: 87%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    visibility: hidden;
}

.all_sounds>.primary_button{
    width: 100%;
    height: 10%;
    margin-bottom: 10%;
    position: relative;
    /*hack to center buttons*/
    transform: translateY(290%);
    background-color: #F0F0F0;
}

.all_sounds>.primary_button>.primary_button__margin{
    background-color: rgba(43, 44, 46, 1);
}

.all_sounds>.primary_button>.primary_button__text{
    color: rgba(43, 44, 46, 1);
}

.record{
    width: 600px;
    height: 200px;
    font-size: 100px;
    background-color: green;
}

.stopRecord{
    padding: 100px;
    background-color: green;
}

.sample{
    padding: 100px;
    background-color: green;
}

.test{
    width: 500px;
    height: 500px;
    background: gray;
}