@font-face{
    font-family: Montserrat-SemiBold;
    src: url('fonts/Montserrat-SemiBold.otf');
 }
@font-face{
    font-family: Montserrat-Black;
    src: url('fonts/Montserrat-Black.otf');
 }
@font-face{
    font-family: Montserrat-Medium;
    src: url('fonts/Montserrat-Medium.otf');
 }
@font-face{
    font-family: Montserrat-Light;
    src: url('fonts/Montserrat-Light.otf');
 }

body{
    /* overflow: hidden; */
}

.room{
    width: 100vw;
    height: 100vh;
}

/**
* Header
*/
.room__header{
    width: 100%;
    height: 9%;
    background-color: #202020;
    color: #f8f8f8;
}

.room__header__title{
    text-align: center;
    transform: translateY(20px);
    font-size: 14px;
    font-family: Montserrat-Black;
}

.room__header__room_name{
    position: absolute;
    right: 2px;
    color: #afafaf;
    font-family: Montserrat-SemiBold;
}

/**
* Content
*/
.room__content{
    width: 100%;
    height: 68%;
    background-color: #343434;
    overflow: hidden;
}

.room__content__tracks{
    width: 100%;
    height: 100%;
    /* padding: 7% 2.5% 7% 2.5%; */
    margin-left: 2.5%;
    padding-top: 65px;
    /* padding-bottom: 4%; */
    /* display: flex;
    flex-direction: column; */

}

.room__content__tracks__track{
    /* 100% - two margins and the width of the volume of the track */
    width: 93.4%;
    height: 68px;
    position: relative;
    margin-bottom: 40px;
    background-color: #202020;
    /* justify-content: center; */
}

/*info*/
.room__content__tracks__track__info{
    width: 20%;
    height: 100%;
    position: relative;

}
.room__content__tracks__track__info__color{
    width: 100%;
    height: 8%;
    position: absolute;
    background-color: #27a3a3;
} 
.room__content__tracks__track__info__name{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    font-family:  Montserrat-Medium;
    color: #b5b2b1;

}

.room__content__tracks__track__info__mute{
    width: 9%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #b5b2b1;
}

.tracks__track__volume{
    width: 1.6%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    background-color: #202020;
    border: 1px solid #b5b2b1;
}
.room__content__tracks__track__content{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 20%;
    top: 0;
}

/*time stamps*/
.tracks__track__time_stamps{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
}

.time_stamp{
    width: 1px;
    height: 100%;
    margin-right:25%; 
    padding-left: 1px;
    font-family:  Montserrat-Light;
    font-size: 10px;
    color:#b5b2b1;
    background-color: #b5b2b1;
}

.time_stamp>div{
    transform: translateX(6px) translateY(6px);
}

.tracks__track__sub_tracks{
    margin-top: 20px;
}

.sub_track{
    width: 100%;
    height: 10px;
    margin-bottom: 6px; 
    background-color: #27a3a3;
}

/**
* Footer
*/
.room__footer{
    height: 23%;
    background-color: #505050;
}

.room__footer__parameters{
    width: 100%;
    height: 30%;
    position: relative;
    z-index: 2;
    background-color: #212121;
}

.room__footer__parameters__volume{
    width: 20%;
    margin-left: 2.5%; 
    transform: translateY(25%);
    font-family: Montserrat-Light;
    color: #b5b2b1;
}

.room__footer__parameters__volume__slider{


    background: #b5b2b1;
    cursor: pointer; /* Cursor on hover */
    width: 200px;

}

.room__footer__parameters__volume__slider__cursor{
    width: 20px;
    height: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20%;
    background-color: #2e7da4;
}

.room__footer__parameters__audio_controls{
    width: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.room__footer__parameters__audio_controls img{
    width: 12px;
    margin-right: 5%; 
}


.time_cursor{
    width: 1px;
    height: 91%;
    position: absolute;
    left: 21.2%;
    /*95.8*/
    z-index: 2;
    background-color: red;
}

